<!-- <div class="content"> -->
        <section class="globalLayout"> 
          <div class="innerLayout">
            <h1>Incomes</h1>
            <h2 class="total-income">Total Income: <span>$0</span></h2>
            <div class="form">
              <form>
                <div class="mb-3">
                  <input
                    type="text"
                    class="input-control"
                    placeholder="Salary Title"
                  /><br />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="input-control"
                    placeholder="Salary Amount"
                  /><br />
                </div>
                <div class="mb-3">
                  <input
                    type="date"
                    class="input-control"
                    placeholder="Enter a Date"
                  /><br />
                </div>
                <div class="mb-3">
                  <select required class="selects input-control">
                    <option value="" disabled>Select Option</option>
                    <option value="salary">Salary</option>
                    <option value="freelancing">Freelancing</option>
                    <option value="investments">Investiments</option>
                    <option value="stocks">Stocks</option>
                    <option value="bitcoin">Bitcoin</option>
                    <option value="bank">Bank Transfer</option>
                    <option value="youtube">Youtube</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <div class="mb-3">
                  <textarea
                    class="input-control"
                    name=""
                    id=""
                    cols="30"
                    rows="4"
                    placeholder="Add A Reference"
                  ></textarea
                  ><br />
                </div>
                <button class="btn btn-danger submit-btn" type="submit">
                  + Add Expense</button
                ><br />
              </form>
            </div>
          </div>
        </section>
     <!-- </div>  -->