<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 xl-4 d-flex justify-content-center">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8 xl-8 mt-5">
     <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xl-4 d-flex justify-content-center">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8 col-xl-8 mt-5">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
