<!-- <div class="nav m-5">
  <div class="circle">
    <img src="../../../assets/img/avatar.png" />
    <div>
      <h2>Jack</h2>
      
    </div>
  </div>

    <ul class="menu-items">
      <li class="bi bi-graph-up d-inline" routerLink="">
       &nbsp;Dashboard
      </li>
      <li class="bi bi-credit-card d-inline" routerLink="expense">
      &nbsp;Expenses
      </li>
      <li class="bi bi-graph-up-arrow d-inline" routerLink="income">
       &nbsp;Incomes
      </li>
    </ul>
</div> -->



<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav m-5">
        <div class="circle">
          <img src="../../../assets/img/avatar.png" />
          <div>
            <h2>Jack</h2>
            
          </div>
        </div>
      
          <ul class="menu-items">
            <li class="bi bi-graph-up d-inline" routerLink="">
             &nbsp;Dashboard
            </li>
            <li class="bi bi-credit-card d-inline" routerLink="expense">
            &nbsp;Expenses
            </li>
            <li class="bi bi-graph-up-arrow d-inline" routerLink="income">
             &nbsp;Incomes
            </li>
            <li >  </li>
              <li ></li>
                <li ></li>   
                <li ></li>  
                <li >  </li>
                <li ></li>
                  <li ></li>   
                  <li ></li> 
                  <li ></li>
                  <li ></li>   
                  <li ></li> 
                 
          </ul>     
                   
      </div>
     
    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="nav m-5">
  <div class="container-fluid">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="circle">
        <img src="../../../assets/img/avatar.png" />
        <div>
          <h2>Jack</h2>
          
        </div>
      </div>

 <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-items">
        
       
          <li class="bi bi-graph-up d-inline" routerLink="">
           &nbsp;Dashboard
          </li>
          <li class="bi bi-credit-card d-inline" routerLink="expense">
          &nbsp;Expenses
          </li>
          <li class="bi bi-graph-up-arrow d-inline" routerLink="income">
           &nbsp;Incomes
          </li>
        </ul>
    
 
    </div>
  </div>
</div>
</nav>
 -->
