<div class="globalLayout">
    <div class="innerLayout">
                <h1>All Transactions</h1>
                <div class="stats-con">
                    <div class="chart-con">
                            <div class="chart">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="amount-con">
                                <div class="income">
                                    <h2>Total Income</h2>
                                    <p> $ 0</p>
                                </div>
                                <div class="expense">
                                    <h2>Total Expense</h2>
                                    <p> $ {{getTotalExpense()}}</p>
                                </div>
                                <div class="balance">
                                    <h2>Total Balance</h2>
                                    <p> $ 0</p>
                                </div>
                            </div>
                    </div> 
                </div>
             </div>
</div>

